body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}
image-credit {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    text-align: center;
}

.container {
    display: flex;
    display: inline;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.left-panel {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url('https://img.freepik.com/premium-photo/globe-with-trees-birds-it_900370-2517.jpg?w=360') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    position: relative;
    
}
.one{
    border: 2px solid red;
}

.logo {
    background-color: rgba(0, 0, 0, 50%);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
}

.signup-form {
    max-width: 40%; /* Limit the form's maximum width */
   
    width: 100%; /* Ensure it adjusts to smaller screens */
}

.form-row input {
    width: 100%; /* Input fields stretch to the width of the form */
    max-width: 100%; /* Avoid stretching beyond the form's bounds */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.left-panel .logo img {
    background-size: contain;
  height: 120px;
}

.logo h1 {
    color: white;
    font-family: "norse-bold";
    font-size: 5em;
  }

.image-credit {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
}

.right-panel {
    flex-basis: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: #fff;
}


.up {
    margin-top: 20px;
    padding: 20px;
    
}

.right-panel h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.right-panel p {
    font-size: 14px;
    margin-bottom: 20px;
}

.right-panel .subtext {
    font-style: italic;
    font-weight: bold;
}

.signup-form h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

.form-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.create {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
   
    padding: 40px;/* Add some padding for spacing from the left edge */
}

.create-account {
    width: auto; /* Adjust the button width to fit its content */
    padding: 10px 20px; /* Add padding for a better button appearance */
    background-color: #556b2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.create-account:hover {
    background-color: #6b8e23;
}

.login-text {
    margin-top: 10px;
    font-size: 14px;
}

.login-text a {
    color: #556b2f;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
